body {
  background: rgb(40 40 40);
  color: #ededed;
}

#background-cheat {
  background-color: #212121;
}

#background-cheat-leftnav,
#bgr-cheat-header,
#bgr-cheat-footer {
  background: rgb(57, 57, 57);
}

#leftnav {
  background: rgb(45, 45, 45);
}

#leftnav .panel .panel-heading:hover {
  color: #95d4ff;
}

#leftnav .panel a.list-group-item:hover {
  background: #3da4eb;
}

#leftnav .panel a.list-group-item.active {
  background: #d4d4d4;
}

h1.page-title,
.h1.page-titlee {
  color: #ededed;
}

.nav-container {
  border-bottom-color: #e7e7e7;
}

.navbar-default {
  background-image: linear-gradient(to bottom, #212121 0%, #212121 100%);
}

/* Navbar dropdown */
.navbar-nav .open .dropdown-menu {
  background-color: #202020;
}

/* Navbar dropdown links */
.dropdown-menu > li > a {
  color: #cbcbcb;
}

/* Sidebar background */
#sidebar-container #sidebar {
  background-color: #202020;
}

/* Sidebar items */
#sidebar-container #sidebar .panel-group.outerpanel .panel-heading {
  background-color: #303030;
}

/* Sidebar text */
#sidebar-container h4 {
  color: #cbcbcb;
}

/* Sidebar bottom borders */
#sidebar-container #sidebar .panel-group.outerpanel > .panel {
  background-color: #404040;
}

/* Sidebar messages sublist */
#sidebar .side-list {
  background: #4c4c4c;
}

#sidebar-container #sidebar .panel-group.outerpanel .sidebar-mymessages {
  color: #fff;
}

.well,
.form-wrapper {
  background-color: #383838;
  border: transparent;
}

.form-control {
  background-color: #343434;
  border-color: transparent;
  color: #c3c3c3;
}

.panel {
  background-color: #292929;
}

.table-striped > tbody > tr:nth-of-type(2n + 1),
.table-default > tbody > tr:nth-of-type(2n + 1) {
  background-color: #2e2e2e;
}

table.dataTable tbody tr {
  background-color: #202020;
}

.table-bordered > thead > tr > th,
.table-default > thead > tr > th,
.table-bordered > thead > tr > td,
.table-default > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-default > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-default > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-default > tfoot > tr > th,
.table-bordered > tfoot > tr > td,
.table-default > tfoot > tr > td {
  border: 1px solid #dddddd1a;
}

a {
  color: #59bbff;
}

a:hover,
a:focus {
  color: #8abfe3;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #959595;
}

select {
  background-color: #313131;
  border: none;
}

.page-subtitle {
  color: #858585;
}

.list-header {
  background-color: #2e2e2e !important;
  color: #b2b2b2 !important;
}

a.list-group-item {
  color: #d0d0d0;
}

a.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:hover,
button.list-group-item:focus {
  background-color: #d0d0d0;
}

.list-group-item {
  border: 1px solid #000;
}

.btn-default {
  text-shadow: none;
  color: #c3c3c3;
  background-color: #222222;
  background-image: none;
  border: none;
  border-color: transparent;
}

.btn-default:hover {
  background-image: linear-gradient(to bottom, #404040 0%, #404040 100%);
  color: white;
  background-position: 0 0;
}

.btn-default:hover,
.btn-default:focus {
  background-position: 0 0;
}

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  box-shadow: none;
}

.btn-default.disabled,
.btn-default:disabled,
.btn-default[disabled] {
  background-color: #363636;
  background-image: none;
}

.btn-default[disabled]:hover {
  background-color: #5e5e5e;
}

.content-title {
  color: #e0e0e0;
}

.btn-success {
  background-color: #2153b1;
  background-image: linear-gradient(to bottom, #2153b1 0%, #2153b1 100%);
  border: 0;
}

.btn-success:hover {
  background-color: #73b0dc;
  background-image: linear-gradient(to bottom, #73b0dc 0%, #73b0dc 100%);
  border-color: none;
}

.btn-success:active,
.btn-success.active {
  background-color: #2153b1;
  border-color: transparent;
}

.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:active.focus,
.btn-success.active:hover,
.btn-success.active:focus,
.btn-success.active.focus,
.open > .btn-success.dropdown-toggle:hover,
.open > .btn-success.dropdown-toggle:focus,
.open > .btn-success.dropdown-toggle.focus {
  background-color: #9cd5ff;
  border-color: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
  border: transparent;
  background: linear-gradient(to bottom, #3a3a3a 0%, #3a3a3a 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #73b0dc !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: black !important;
  background: linear-gradient(to bottom, #c4c4c4 0%, #c4c4c4 100%);
}

ul.tablelist li.list-item {
  background: #2e2e2e;
}

ul.tablelist li.list-item:hover {
  background: #4e4e4e;
}

.panel-footer {
  background-color: #292929;
}

.not_visible {
  color: grey !important;
}

.text-muted {
  color: #c3c3c3;
}

.list-group-item {
  border-color: #000;
  color: white;
  background-color: #1d1d1d;
}

footer.footer {
  background: #212121;
}

/*  Calendar    */
#cal-week-box {
  color: white;
  background-color: #414141;
  border: none;
}

.cal-day-inmonth > .pull-right {
  color: #fff;
}

#cal-day-tick {
  background-color: #414141;
}

[class*="cal-cell"]:hover {
  background-color: #5a5a5a;
}

.cal-row-fluid:hover {
  background-color: #414141;
}

.cal-day-weekend span[data-cal-date] {
  color: #cf5c5c;
}

span[data-cal-date] {
  opacity: 0.7;
}

.cal-day-outmonth span[data-cal-date] {
  opacity: 0.25;
}

.cal-day-today {
  background-color: #749845;
}

.cal-day-today span[data-cal-date] {
  color: #104d10;
}

.event-legend {
  color: #d8d8d8;
}
/* End calendar*/

/* Help button*/
.text-info {
  color: #59bbff;
}

/* Links tab in courses */
.open-category,
.open-category:hover {
  color: #c4c4c4;
}

table.category-links tr.link-subcategory-title {
  background-color: #2f2f2f;
}

table.category-links th.category-link span.link-description {
  color: #878787;
}

/* course descriptions */
#collapseDescription {
  background-color: #212121;
}

.panel-default,
.panel-action-btn-default {
  border-color: transparent;
}

.course-info-title h4,
.course-info-title .h4 {
  color: #cecece;
}

/* PDF window */
.close {
  color: #fff;
}

div.modal-header,
div.modal-footer {
  background-color: #2c2c2c;
  border-bottom: 1px solid #000;
}

.modal-content {
  background-color: #2c2c2c;
}

.modal-footer {
  border-top: 1px solid #000;
}